
* {
    box-sizing:border-box;
    margin: 0;
    font-family: sistem-ui, sans-serif;
}

body {
    font-size: 16px;
}

/* Header */

nav {
    background-color: rgb(72, 12, 168);
    padding: 10px 5px;
    display: flex;
    justify-content: space-between;
}

nav li, nav h2 {
    display: inline-block;
    list-style: none;
    margin: 0 15px;
}

nav ul {
    margin: 5px;
}

.nav-item {
    color: #fff;
    text-decoration: none;
    font-weight: 800;
}

.cover-page {
    background: url("../img/portadas/portada.jpg") no-repeat center center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    font-size: 2em;
    color: #fff;
    height: 100vh;
}

h1 {
    font-size: 3em;
    margin: 1% 2%;
    display: inline-block;
}

#portada h1 {
    margin: 2% 7%;
}


/* Main */

main.container {
    margin: 30px;
}

section {
    position: relative;
    height: 40em;
    background: rgb(235,239,242);
    padding: 10vw;
}

.titles {
    font-style: italic; 
    font-size: 3em;
    position: absolute;
    color: rgb(86, 55, 139);
    background: rgba(235, 239, 242, 0.658);
    padding: 25px;
    border-radius: 15px;
    top: 2em;
    margin: 10vw;
}

main a {
    color: rgb(72, 12, 168);
}

#peinados {
    background: url("../img/portadas/peinados.jpg") no-repeat left center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

#peinados .titles {
    right: 0;
}

#suciencia {
    background: url("../img/portadas/suciencia.jpg") no-repeat left center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    transform: scaleX(-1);
}

#suciencia .titles {
    right: 0;
    transform: scaleX(-1);
}

#micorte {
    background: url("../img/portadas/micorte.jpg") no-repeat left center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

#micorte .titles {
    left: 0;
}

#mipelo {
    background: url("../img/portadas/mipelo.jpg") no-repeat right center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    transform: scaleX(-1);
}

#mipelo .titles {
    left: 0;
    transform: scaleX(-1);
}


/* Peinados */

.images {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    grid-gap: 2em;
    margin-top: 20px;
}

.peinado {
    border: 6px solid rgb(72, 12, 168);
    border-radius: 25px;
    position: relative;
    overflow: hidden;
}

.peinado:after {
  content: "";
  display: block;
  padding-bottom: 100%;
}

.peinado img {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
}

.peinado:nth-child(1) img, 
.peinado:nth-child(2) img {
    left: -110px;
}

.peinado:nth-child(6) img {
    width: 100%;
}

.peinado:nth-child(9) img {
    height: 135%;
    left: -70px;
    top: -25px;
}


/* Footer */

footer {
    background-color: rgb(72, 12, 168);
    color: #fff;
    padding: 20px;
    font-size: 1.5em;
    display: flex;
    justify-content: space-between;
}

footer .logo {
    font-size: 3em;
    font-weight: bold;
    margin-left: 5%;
}

footer #social-media-links {
    display: flex;
    justify-content: space-between;
    margin-top: 10px;
    margin-left: 5%;
}

footer #social-media-links * {
    cursor: pointer;
}

footer #contact {
    /* transform: rotate(270deg); */
    /* padding-top: 55px; */
    font-weight: bold;
}

footer form {
    display: flex;
    flex-wrap: wrap;
}

footer form label {
    font-size: 0.8em;
    padding-top: 13px;
    font-style: italic;
}

footer .columns {
    margin-right: 20px;
    display: flex;
    flex-direction: column;
    width: calc(50% - 22px);
}

footer #submit {
    align-self: flex-start;
    font-weight: bold;
    background: none;
    border: 0;
    font-size: 0.8em;
    /* font-style: italic; */
    /* transform: rotate(90deg); */
    flex: 1;
    cursor: pointer;
    width: 100%;
    margin-top: 15px;
    margin-right: 20px;
    background-color: #fff;
    color: rgb(59, 59, 59);
    border-radius: 10px;
    padding: 2px 0;
}

@media screen and (max-width: 650px) {
    body {
        font-size: 12px;
    }
}
@media screen and (max-width: 800px) {
    footer {
        flex-direction: column-reverse;
        margin: 0 auto;
    }

    footer > * {
        margin-bottom: 50px;
    }

    footer div:first-child {
        height: max-content;
        align-self: center;
    }

    footer .logo {
        margin-left: 0;
    }

    footer #social-media-links {
        margin-left: 0;
    }
}

