* {
    font-family: sistem-ui, sans-serif;
}

.cover-page {
    background: url(../img/portadas/portada.jpg) no-repeat center center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    font-size: 2em;
    color: #fff;
    height: 100vh;
}

h1 {
    font-size: 3em;
    font-weight: bold;
    /* margin: 1% 2%; */
}

#portada h1 {
    /* margin: 1 7%; */
}