* {
    font-family: sistem-ui, sans-serif;
}


/* Variables */

$primary-color: #480ca8;
$light-primary-color: #56378b;
$bg-title-transparent: rgba(235, 239, 242, 0.658);
$bg-gradient: linear-gradient(90deg, #8b1aaf, #8200ff);

$portada: "../img/portadas/portada.jpg"
