/* Header */

.nav {
    background-color: $primary-color;
    background: $bg-gradient;

    &__logo {
        color: #fff !important;
        text-decoration: none;
        font-weight: 800 !important;
    }
}

.cover-page {
    @include section-bg("portada", center);
    font-size: 2em;
    color: #fff;
    height: 100vh;

    h1 {
        font-size: 3em;
        font-weight: bold;
        /* margin: 1% 2%; */
    }
}

@media screen and (max-width: 576px) {
    .cover-page h1 {
        font-size: 60px;
    }
}